!!!
%html
  %head
    %title EventDiary
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-static-top.navbar-inverse
      .container
        .navbar-header
          %a.navbar-brand{ href: '/' } EVY
        %nav.collapse.navbar-collapse.bs-navbar-collapse{ role: "navigation" }
          %nav.navbar-nav.navbar-right
            - if user_signed_in?
              = link_to 'Calendar', '#', class: 'btn btn-default'
              = link_to 'Profile', user_path(current_user), class: 'btn btn-default'
              = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger'
            - else
              = link_to 'Sign up', new_user_registration_path, class: 'btn btn-success'
              = link_to 'Log in', new_user_session_path, class: 'btn btn-default'

    .main-content
      .container
        - if notice
          %p.alert.alert-success= notice
        - if alert
          %p.alert.alert-danger= alert
        = yield