!!!
%html
  %head
    %title EventDiary
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{ role: 'navigation' }
      .container
        .navbar-header
          %a.navbar-brand{ href: '/' } 
            %i.glyphicon.glyphicon-calendar
            Event Diary
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to "#{image_tag(photo_url_for(current_user, 22))} #{current_user.display_name}".html_safe, user_path(current_user)
              %li.dropdown
                = link_to '#', { class: 'dropdown-toggle', 'data-toggle' => 'dropdown' } do
                  %i.glyphicon.glyphicon-calendar
                  Calendar
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'Public', public_calendar_path
                  %li= link_to 'My events', my_calendar_path
              %li
                = link_to user_path(current_user) do
                  %i.glyphicon.glyphicon-user 
                  Profile
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.glyphicon.glyphicon-log-out
                  Log out
            - else
              %li= link_to 'Sign up', new_user_registration_path
              %li
                = link_to new_user_session_path do
                  %i.glyphicon.glyphicon-log-in
                  Log in

    .main-content
      .container
        = render 'shared/flashes'

        .panel.panel-default
          - if yield(:title).present?
            .panel-heading
              = yield(:title)
          .panel-body
            = yield